{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "external-helpers"
    ],
    "ignore": [
        "dist/*.js"
    ]
}
